<!doctype html>
<html lang="en">
  <head>
    <title>Quadrans Foundation - Notarisation Tool</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#16173D">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="description" content="We are Quadrans, your business smart contract platform">
    <meta name="keywords" content="blockchain chain quadrans foundation" />
    <meta name="copyright" content="2018-2019 Quadrans Foundation" />
    <meta property="og:title" content="Quadrans Foundation" />
    <meta property="og:image" content="https://quadrans.io/assets/favicon/favicon_270.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="We are Quadrans, your business smart contract platform " />
    <meta property="og:url" content="https://quadrans.io/" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link href="https://quadrans.io/assets/css/quadrans_style.css?v=0.2" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0371ca448a.js" crossorigin="anonymous"></script>

    <!-- Icons -->
    <link rel="icon" href="https://quadrans.io/assets/favicon/favicon_32.png" type="image/png" />
    <link rel="shortcut icon" href="https://quadrans.io/assets/favicon/favicon_32.png" type="image/png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://quadrans.io/assets/favicon/favicon_16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://quadrans.io/assets/favicon/favicon_32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="https://quadrans.io/assets/favicon/favicon_48.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="https://quadrans.io/assets/favicon/favicon_192.png" />
    <link rel="apple-touch-icon-precomposed" href="https://quadrans.io/assets/favicon/favicon_180.png" />
    <meta name="msapplication-TileImage" content="https://quadrans.io/assets/favicon/favicon_270.png" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132858178-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132858178-4');
</script>

  </head>
    <body>

  <!-- BACK TO TOP AND NAVBAR COLOR START -->
  <div class="circle-up-to-1" id="back-to-top">
    <a href="javascript:"><i class="material-icons">keyboard_arrow_up</i></a>
  </div>
  <div id="change-navbar"></div>
  <!-- BACK TO TOP AND NAVBAR COLOR END -->
  <div id="navigation">
    <nav class="navbar navbar-light navbar-expand-lg py-0 fixed-top">
            <a class="navbar-brand" href="/">
              <div id="logo">
                <img src="https://quadrans.io/assets/brand/logo_quadrans_color.svg" alt="Quadrans Foundation" class="logo">
              </div>
            </a>      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- START NAVBAR LINKS -->
<div class="collapse navbar-collapse mt-auto" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto ml-lg-3 mt-auto mr-auto">
    <li class="nav-item text-center">
      <a class="nav-link" href="https://quadrans.io/ecosystem.php">Ecosystem<div></div></a>
    </li>
    <li class="nav-item text-center">
      <a class="nav-link" href="https://quadrans.io/foundation.php">Foundation<div></div></a>
    </li>
    <li class="nav-item text-center">
      <a class="nav-link" href="https://quadrans.io/news.php">News<div></div></a>
    </li>
    <li class="nav-item text-center text-nowrap active">
      <a class="nav-link" href="https://quadrans.io/tools.php">Tools<div></div></a>
    </li>
    <li class="nav-item text-center">
     <a class="nav-link" href="https://quadrans.io/documentation.php">Documentation<div></div></a>
    </li>
    <li class="nav-item text-center">
      <a class="nav-link" href="https://quadrans.io/members.php">About Us<div></div></a>
    </li>
  </ul>
  <a href="https://quadrans.io/airdrop.php"><div id="airdrop">
          <button class="primary">airdrop</button>
        </div></a>

</div>
<!-- END NAVBAR LINKS -->
    </nav>
  </div>

  <!-- EMPTY ROW START -->
        <div class="w100" style="height:80px"></div>
      <!-- EMPTY ROW END -->

<!-- PART-1 START -->
<div id="greenpurpleRow">
  <div class="container-fluid mt-1">
    <div class="row">
      <div class="col-12">


<!--------------------------------------------------------------------------->

            <h2 style="overflow-wrap: break-word; word-break: break-word;"><b>${evidence}</b></h2>

            <p>Here the step-by-step procedure for the independent verification of the data or document notarization :</p>
            <p>This is a courtesy page provided by Quadrans Foundation for convenience to easier proove the 
            correct notarization of the submitted data hash.<br>
            This is a <b>free service</b>, as such Quadrans cannot be held responsible for any loss or damage.<br>
            Please print or save this page and store it in a safe place for later reference and use.</br>
            With those it's easy to proove ownership, timestamping, time of existence, consistency and immutability of data.</p>
            <p>It is necessary to:
            <ul style="padding: inherit; list-style-type: inherit;">
                <li>store the original data at the time of this notarization</li>
                <li>store this page with the notarization data</li>
            </ul>
            <p>Quadrans will not store any of those. No guaranties are provided that this page will still be available at any time in the future.</br>
            Therefore the owner of the data and email address is responsible for the storage of both.</p>
            <p>All the following steps make extensive use of the <a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function" 
            target="blank">cryptographic hash function</a> (<a href="https://en.wikipedia.org/wiki/SHA-2">SHA256</a>) on binary bytes strings, 
            here represented in their exadecimal notation.</p>

            <h2>1) Getting to the evidence</h2>
            <p>The evidence is the double hash of the concatenation of 2 binary hashes of data available to the sender: </p>
            <ul style="padding: inherit; list-style-type: inherit;">
                <li>the hash of the original data/document and </li>
                <li>the hash of email address thar the sender used</li>
            </ul>
            <div class="datagrid" style="overflow-x: scroll;">
                <table border=0 width="100%" class="tg">
                    <tr><td width="20%">document/data hash</td><td width="80%">${docHash}</td></tr>
                    <tr class="alt"><td>owner email hash</td><td>${emailHash}</td></tr>
                    <tr><td>resulting evidence</td><td>${evidence}</td></tr>
                </table>
            </div>

            <p> Using any Linux console, it is possible to check the evidence using the hash submitted for the data [hd] and the hash of the email address [he] used with:
            <pre style="background-color: #F0F0F0; font-size: 10; margin: 0px; padding: 5px; font-family: monospace; border-radius: 6px; white-space: pre;" >echo -n [hd][he] | tr "[:lower:]" "[:upper:]" | xxd -r -p | sha256sum | xxd -r -p | sha256sum</pre>
            </p>

            <p>According to the properties of cryptographic hash functions, excluding the extremelly unlikely event of
                collisions, that evidence can only result as hash of the to previously provided elements.</p>


            <h2>2) Merkle Proof</h2>
            <p>The evidence is stored with many others into a covenient data structure called 
            <a href="https://en.wikipedia.org/wiki/Merkle_tree" target="blank">Merkle Tree</a>. 
            All those evidences are coupled and hashed together in a binary tree until a single hash can be derived, called Merkle Root.<br>
            In order to proove matematically that an evidence is part of a merkle tree, a list of the other hashes (called Merkle Proof) must be 
            provided, and those have to be hashed together and result in the same Merkle Root.</p>
            <p>For this particular evidence the list of hashes is :</p>
            <pre style="background-color: #F0F0F0; font-size: 10; margin: 0px; padding: 5px; font-family: monospace; border-radius: 6px; white-space: pre;" >${proofList}</pre>

            <h2>3) Merkle Tree</h2>
            The correct combination of those hashes to get to the Merkle Root is:
            <pre style="background-color: #F0F0F0; font-size: 10; margin: 0px; padding: 5px; font-family: monospace; border-radius: 6px; white-space: pre;" >${proofTree}</pre>
            This clearly shows :
            <ul>
                <li>the <b>Merkle Root</b> (in bold) as calculated by the other hashes in the proof</li>
                <li>the data <b>evidence value</b> (in bold) as described in Point 1 </li>
                <li>the other <i>proof hashes</i> (in italic) </li>
                <li>the combination of the other hashes (calculated from previous hashes)</li>
            </ul>

            <p>Those hashes are calculated on binary numeric values (byte arrays). Using any Linux console it is possible to check each pair of hashes [h1] and [h2] with:
            <pre style="background-color: #F0F0F0; font-size: 10; margin: 0px; padding: 5px; font-family: monospace; border-radius: 6px; white-space: pre;" >echo -n [h1][h2] | tr "[:lower:]" "[:upper:]" | xxd -r -p | sha256sum</pre>
            </p>

            <p>This proves that the evidence <span style="overflow-wrap: break-word; word-break: break-word;">${evidence}</span> is part of the merkle root <span style="overflow-wrap: break-word; word-break: break-word;">${merkleRoot}</span></p>


            <h2>4) Blockchain Notarization</h2>
            <p>Provided that the evidence is part of the merkle root, that specific value has been notarized in the Quadrans blockchain
            in this position and date:</p>
            <div class="datagrid" style="overflow-x: scroll;">
                <table border=0 width="760" class="tg">
                    <tr><td width="20%">blockDateTime</td><td width="80%">${blockDateTime}</td></tr>
                    <tr class="alt"><td>blockNumber</td><td><a href="${explorer}/block/${blockNumber}">${blockNumber}</a></td></tr>
                    <tr><td>blockHash</td><td><a href="${explorer}/tx/${blockNumber}">${blockHash}</a></td></tr>
                    
                    <tr class="alt"><td>transactionHash</td><td><a href="${explorer}/tx/${transactionHash}">${transactionHash}</a></td></tr>
                    <tr><td>sender</td><td>${sender}</td></tr>
                    <tr class="alt"><td>rawData</td><td><span style="overflow-wrap: break-word; word-break: break-word;">${rawData}</span></td></tr>                    
                </table>
            </div>
            <!-- <div align=right>
                Document Notarization number : ${docCounter}
            </div> -->
            <p>It is possible to use <a href="${explorer}" target="blank">Quadrans Explorer</a> to see that <a href="${explorer}/tx/${transactionHash}">transaction</a>
                and inspect it's content. The relevant data are stored in the transaction's event logs.</p>

            <h2>5) Transaction Analysis</h2>
            <p>With the merkle tree and the transaction it was recorded in, it is possible to use <a href="https://web3js.readthedocs.io/en/v1.2.0/" target="blank">web3 api</a> to get the
            <a href="https://web3js.readthedocs.io/en/v1.2.0/web3-eth.html?highlight=receipt#gettransactionreceipt">transaction receipt</a>.<br>
            It is necessary to have the <a href="https://notarize.quadrans.io/resources/contract_abi.txt" target="blank">smart contract ABI</a>. Sample code for this operation is provided in <a href="https://notarize.quadrans.io/resources/checker.py" target="blank">python</a> and javascript.</br>
            It is also necessary to have access to a <a href="${site}/how-to/install-quadrans-node/" target="blank">free Quadrans Node</a>.</p>
            
            <p>Running that procedure the result is the following:
            <div class="datagrid" style="overflow-x: scroll;">
                <table border=0 width="100%" class="tg">
                    <tr><td width="20%">_email</td><td width="80%">${email}</td></tr>
                    <tr class="alt"><td>_storage</td><td>${storage}</td></tr>
                    <tr><td>_hash</td><td>${merkleRoot} (merkle root)</td></tr>
                </table>
            </div>
            </p>
            <p>The recorded "_hash" value matches the merkle root, this shows that the all the evidences, with the provided merkle proof, where successfully notarized
            on the Quadrans blockchain.</p>
            <p>Don't trust, verify.</p>
            <div align="right" style="padding-right: 180px;"><b>Quadrans Foundation</b></div>



<!---------------------------------------------------------------------------->


      </div>
    </div>
  </div>


</div>


<footer>
  <div id="footerblueRow" style="margin-bottom:-20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-q" style="position: relative; top: -30px;">
          <div class="row">
            <div class="d-none d-xl-block col-12 col-xl-6 m-auto">
              <img class="align-middle" src="https://quadrans.io/assets/img/illo_donate.png" style="left: -41px; position: relative; width: 95%;">
            </div>
            <div class="order-1 order-lg-2 col-12 col-xl-6 pl-xl-5 ">
              <h5 class="line">Donate</h5>
              <h1>Support <b>Quadrans Foundation</b></h1>
              <p>The improvements to the Quadrans platform are made thanks to the continuous work of the Foundation. Experts, researchers and academics from all over the world support Quadrans project by promoting and advancing Quadrans.</p>
              <p>Do you want to support the Foundation with a donation?</p>
              <div class="d-block d-xl-none">
                <img class="img-fluid align-middle" src="https://quadrans.io/assets/img/illo_donate.png" style="left: -41px; position: relative;">
              </div>
              <a href="mailto:fondazione@quadrans.io?subject=I would like to contribute with a donation">
              <div class="text-center text-xl-left">
                <button class="primary">Contact us</button>
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="footerMiddle" class="pt-4">
    <div class="container-fluid" style="overflow: hidden;">
      <div class="row">
        <div class="col-12 my-1 col-xl-6">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-4 mb-3  text-center text-lg-left">

              <img src="https://quadrans.io/assets/brand/logo_quadrans_white.svg" alt="Quadrans Foundation" height="43">
            </div>
            <div class="col-12 col-lg-6 col-xl-8 mb-3 text-center">
              <div class="circle-violet inline-block">
  <a href="https://www.linkedin.com/company/quadrans-foundation/" target="_blank">
    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
  </a>
</div>
<div class="circle-violet inline-block">
  <a href="https://www.facebook.com/quadransfoundation/" target="_blank">
    <i class="fab fa-facebook-f" aria-hidden="true"></i>
  </a>
</div>
<div class="circle-violet inline-block">
  <a href="https://twitter.com/QuadransF" target="_blank">
    <i class="fab fa-twitter" aria-hidden="true"></i>
  </a>
</div>
<div class="circle-violet inline-block">
  <a href="https://t.me/quadrans" target="_blank">
    <i class="fab fa-telegram-plane" aria-hidden="true"></i>
  </a>
</div>
            </div>
          </div>
        </div>
        <div class="col-12 my-1 col-xl-6">
          <div class="row">
            <div class="col-12 col-sm-4 text-center">
              <p class="text-light"><a href="http://quadrans.io/ecosystem.php">Ecosystem</a></p>
              <p class="text-light"><a href="http://quadrans.io/foundation.php">Foundation</a></p>
              <p class="text-light"><a href="http://quadrans.io/members.php">Members</a></p>
              <p class="text-light"><a href="http://quadrans.io/news.php">News</a></p>
            </div>
            <div class="col-12 col-sm-4 text-center">
              <p class="text-light"><a href="https://explorer.quadrans.io" target="_blank">Mainnet Explorer</a></p>
              <p class="text-light"><a href="https://status.quadrans.io" target="_blank">Mainnet Status</a></p>
              <p class="text-light"><a href="http://quadrans.io/documentation.php" target="_blank">Documentation</a></p>
              <p class="text-light"><a href="https://notarize.quadrans.io" target="_blank">Timestamping</a></p>
            </div>
            <div class="col-12 col-sm-4 text-center">
              <p class="text-light"><a href="http://quadrans.io/airdrop.php">Airdrop</a></p>
              <p class="text-light"><a href="http://quadrans.io/contacts.php">Contacts</a></p>
              <p class="text-light"><a href="http://quadrans.io/privacy-policy.php">Privacy Policy</a></p>
              <p class="text-light"><a href="http://quadrans.io/cookies-policy.php">Cookies Policy</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footerBottom">
    <div class="container-fluid" style="overflow: hidden; padding:10px">
      <div class="row">
        <div class="col">
          <p class="text-center"><small class="text-light">Copyright © 2018-2019 <b>Quadrans</b> | Via alla Torre n.2, 6850 Mendrisio – Switzerland | CHE 432.155.979 | e-mail: <a>fondazione@quadrans.io</a></small></p>
        </div>
      </div>
    </div>
  </div>

</footer>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- JavaScript -->
  <script type="text/javascript">
  $$(document).ready(function(){
    var scroll_start = 0;
    var startchange = $$('#change-navbar');
    var offset = startchange.offset();

    if(startchange.length){
      $$(document).scroll(function(){
        scroll_start = $$(this).scrollTop();

        if(scroll_start>offset.top){
          $$('.fixed-top').css('background-color', 'white');
          $$('#navigation nav').attr('class','navbar navbar-light navbar-expand-lg py-0 fixed-top navbar-shadow');
        }else{
          $$('.fixed-top').css('background-color', 'transparent');
          $$('#navigation nav').attr('class','navbar navbar-light navbar-expand-lg py-0 fixed-top');
        }
      })
    }
  })
</script>



  <script type="text/javascript">
$$(document).ready(function(){

   $$(".btn-filter").click(function(){
     var value = $$(this).attr('data-filter');
      if(value == "all")
      {
        $$('.filter').show('1000');
      }
      else
      {
       $$(".filter").not('.'+value).hide('1500');
       $$('.filter').filter('.'+value).show('1500');
      }
    $$(".btn-filter").each(function(){
     $$(this).removeClass("active");
    });
    $$(this).addClass("active");

   });

 });
 </script>

  <script type="text/javascript">
  $$(window).scroll(function() {
    if ($$(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
        $$('#back-to-top').fadeIn(200);    // Fade in the arrow
        $$('#back-to-top').css('display', 'block)');
    } else {
        $$('#back-to-top').fadeOut(200);   // Else fade out the arrow
        $$('#back-to-top').css('display', 'none)');
    }
  });
  $$('#back-to-top').click(function() {      // When arrow is clicked
      $$('body,html').animate({
          scrollTop : 0                       // Scroll to top of body
      }, 500);
  });
  </script>
  <script type="text/javascript">
    $$(document).ready(function(){
      $$("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;
          $$('html, body').animate({
            scrollTop: $$(hash).offset().top
          }, 800, function(){
            window.location.hash = hash;
          });
        }
      });
    });
  </script>
  <script type="text/javascript" id="rendered-js">
        $$('.panel-collapse').on('show.bs.collapse', function () {
    $$(this).siblings('.panel-heading').addClass('active');
  });

  $$('.panel-collapse').on('hide.bs.collapse', function () {
    $$(this).siblings('.panel-heading').removeClass('active');
  });
        //# sourceURL=pen.js
  </script>
  <script>
    $$(function(){
        $$('a').each(function(){
            if ($$(this).prop('href') == window.location.href) {
                $$(this).addClass('active'); $$(this).parents('li').addClass('active');
            }
        });
    });
  </script>
</body>
</html>

